#main {
    display: grid;
    grid-template-columns: 45% 55%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
}
#ic {
    height: 300px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

#main div #img {
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 250px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
 #container {
    position: relative;
    width: 50%;
  }
  
 #name {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
 #container:hover #img {
    opacity: 0.8;
    transform: scale(1.01);
  }
  
   #container:hover #name {
    opacity: 1;
  }
  
  #text {
    font-weight: bolder;
    color: aliceblue;
    font-size: 50px;
    opacity: 0.8;
    padding: 16px 32px;
  }

#component .comps {
    width: fit-content;
    padding: 7px;
    border: 0.05em white solid;
    font-style: normal;
    font-size: 1em;
    border-radius: 5px;
    margin: 30px;
}

#component .comps:hover {
    color: rgba(245, 245, 245, 0.636);
    transform: scale(1.05);
    transition: all 0.1s;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

#component {
    display: flex;
    flex-direction: row;
}

#component #profiles {
    margin-top: -90%;
}

#component #interests {
    margin-top: -90%;

}

@media only screen and (max-width: 1000px) {

    #ic {
        margin-bottom: 20%;
    }

    #logo {
        height: 65px;
    }

    #main {
        margin: 0px;
        grid-template-columns: 100%;
    }

    #main div #img {
        height: 200px;
    }

    #component .comps {
        font-size: 0.9em;
        margin: 11px;
        margin-bottom: 10%;
    }

    #component #profiles {
        margin-top: -110px;
    }

    #component #interests {
        margin-top: -110px;

    }

    #component #projects {
        margin-left: 40px;
    }

    #component #interests {
        margin-left: -5px;
    }

}

#main1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {

    #ic {
        height: 210px;    
    }
    #logo {
        height: 10px;
    }
    #component .comps {
        font-size: 17px;
        margin: 15px;
    }
    #main div #img {
        height: 190px;    
    }
}