/* button */

#cpi {
    background-color: rgba(236, 73, 73, 0.544);
    border-color: red;
    border-radius: 10px;
    font-size: 20px;
}

#skills {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

#skills > ul {
    display: inline-block;
    width: fit-content;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 60px;
    color: whitesmoke;
    border: 5px;
    border-style: solid;
    border-color: aqua;
    background-color: rgba(128, 128, 128, 0.433);
    transition: all 0.2s;
}

#skills > ul:hover {
   transform: scale(1.05);
   transition: all 0.2s;
}
#proj {
    margin-top: 3cm;
color: whitesmoke;
font-size: 25px;
}
y {
    color: yellowgreen;
 }
#proj > ul> a {
    color: rgb(109, 109, 245);

}
#profimg {
    height: 613px;
     width: 600px;
}
#prof > #uli {
color: aliceblue;
margin-left: 750px;
margin-top: -615px;
}

#intic {
    height: 1103px;
     width: 600px;
opacity: 0.8;
}
#link {
    color: rgb(109, 109, 245);
}

#ct {
    color: white;
    text-align: left;
    font-size: 21px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
#ct > p {
    padding-top: 5px;
}

#interest >#uli {
  color: aliceblue;
    padding: 0px;
    margin-left: 650px;
    margin-top: -1105px;
}
#inpemail {
    width: 500px;

}
#ct > button {
    font-size: 15px;
    margin-left: 220px;
    height: 30px;
}

textarea {
    text-emphasis-position: top;
    width: 500px;
    height: 100px;
}
#emlogo {
    height: 40px;
    vertical-align: middle;
}
#about {
    margin-top: -40px;
    margin-left: 90px;
    padding: 150px;
    text-align: center;
    color: rgba(240, 255, 255, 0.653);
    font-size: 25px;
    width: fit-content;
}
#aboutlogo {
    margin-top: -50px;
    margin-left: 750px;
}
#p1{
    display: flex;
}
@media only screen and (max-width: 550px) {
#p1{
    display: block;
}
#main1 {
    margin: 5%;
}

#skills > ul {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
}
}

/* @media only screen and (max-width: 1200px) {
    #navbar {
       margin-top: -29px;
    font-size: 35px;
        
    }
    #logo {padding-top: 20px;
        height: 95px;
    }
    #li {
       padding-right: 100px;
    margin-left: 890px;
    }
}

@media only screen and (max-width: 700px) {
    #navbar {
       margin-top: -190px;
    font-size: 75px;
        
    }
    #logo {
        padding-top: 120px;
        padding-left: 30px;
        height: 175px;
    }
    #li {
       
        margin-left: 990px;
        }
    #li > ul {
        padding-right: 60px;
    }    
}
@media only screen and (max-width: 400px) {
    #navbar {
       margin-top: 15px;
    font-size: 20px;
        width: 20px;
    }
    #logo {
        margin-top: -1px;
        padding-top: 0px;
        padding-left: 5px;
        height: 50px;
    }
    #li {
       
        margin-left: 115px;
        }
    #li > ul {
padding: 10px;
    }    
    #ct {
        color: white;
        text-align: left;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    #emlogo {
        margin-top: -25px;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    #ea {
        display: flex;
    }
    #ct > #p1 {

       display: inline-block;
       padding: 0px;
    }
    #ct > p {
        padding-top: 10px;
    }
    #inpemail {
        width: 320px;
        font-size: 20px;
        padding: 5px;
    
    }
    #ct > button {
        font-size: 15px;
        margin-left: 130px;
        height: 30px;
        padding-left: 10px;
        padding-right: 10px;

    }
    
    textarea {
        padding: 5px;
        text-emphasis-position: top;
        font-size: 20px;
        width: 320px;
        height: 200px;
    }
   

    #about {
        margin-top: 30px;
        margin-left: 10px;
        padding: 10px;
        text-align: center;
        color: rgba(240, 255, 255, 0.653);
        font-size: 20px;
        width: 350px;
    }
    #aboutlogo {
        height: 50px;
        margin-top: 50px;
        margin-left: 170px;
    }
    #edu {
        color: whitesmoke;
        text-align: left;
        font-size: 20px;
        padding: 10px;
        width: 360px;
        margin-top: -25px;
        margin-left: 10px;
    }
    #cpi {
        margin-top: 20px;
        background-color: rgba(236, 73, 73, 0.544);
        border-color: red;
        border-radius: 19px;
        border-width: 10px;
        font-size: 20px;
    }
    
#skills {
    width: 390px;
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

#skills > ul {
    display: inline-block;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    color: whitesmoke;
    border: 5px;
    border-style: solid;
    border-color: aqua;
    background-color: rgba(128, 128, 128, 0.433);
    
}

#proj {
    margin-left: -20px;
    margin-top: 40px;
color: whitesmoke;
font-size: 20px;
width: 400px;
}

#proj > ul> a {
    color: rgb(109, 109, 245);

}

#Link1 {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    border-bottom: 4px;
border-bottom-style: solid;
border-bottom-color: brown;

}
#profimg {
    height: 250px;
     width: 390px;
}
#prof > #uli {
    color: aliceblue;
    margin-left: 10px;
    margin-top: 10px;
    width: 400px;
    }
    #uli > ul {
        font-size: 20px;
        background-color: rgba(96, 165, 215, 0.385);
     padding: 25px;
     padding-right: 30px;
    }
    #uli >ul> #logo {
        vertical-align: middle;
        padding: 10px;
        padding-right: 30px;
    
    }
    #intic {
        height: 240px;
         width: 380px;
    opacity: 0.8;
    }
    #interest >#uli {
        font-size: 10px;
      color: aliceblue;
        padding: 1px;
        width: 390px;
        margin-left: 11px;
        margin-top: -15px;
    }
} */